<settings>
	<category label="Login">
		<setting id="username" type="text" label="username" default=""/>
		<setting id="password" type="text" label="pasword" default="" option="hidden"/>
	</category>
	
	<category label="InterTV-Addon">
		<setting id="Updatecommonresolvers" label="Update Commonresolver from Genesis" type="bool" default="true" visible="false"/>
		<setting type="action" label="Addon actualizado 12/01/2016 Maximus" option="close" action="RunPlugin(plugin://plugin.video.InterTV/?mode=7)" />
		<setting type="action" label="[B]InterTV [/B]" option="close" action="RunPlugin(plugin://plugin.video.InterTV/?mode=7)" />
		<setting id="ask_playlist_items" type="bool" label="Ask playlist items to choose from dialog  (Activar Elegir Fuente de Video)" default="false" />
		<setting id="add_playlist" type="bool" label="Add items with multiple links as play lists (Activar Multilink)" default="false"/>
	</category>
</settings>